.home {
  h1 {
    text-align: center;
    color: green;
    font-size: 2.5rem;
    font-style: italic;
    margin: 4rem auto;
  }
  .hero {
    div {
      flex: 0 1 45%;
      height: 35rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
