.signin {
  h2 {
    text-align: center;
    color: green;
    margin-top: 2rem;
  }
  p {
    color: red;
    margin-top: 1rem;
    margin-bottom: -1rem;
    text-align: center;
    font-style: italic;
  }
  form {
    width: 40%;
    background-color: rgba(0, 255, 0, 0.35);
    margin: 1rem auto;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    input {
      width: 100%;
      height: 2rem;
      border-radius: 0.2rem;
      border: 1px solid gray;
      margin-bottom: 1rem;
      padding-left: 0.25rem;
      background-color: white;
      &::placeholder {
        color: black;
      }
    }
    input:focus {
      outline-color: green;
    }
    textarea {
      width: 100%;
      border-radius: 0.2rem;
      border: 1px solid gray;
      margin-bottom: 1rem;
      background-color: white;
      font-size: 0.82rem;
      padding-left: 0.25rem;
      &::placeholder {
        color: black;
      }
    }
    textarea:focus {
      outline-color: green;
    }
    select {
      width: 100%;
      height: 2rem;
      border-radius: 0.2rem;
      border: 1px solid gray;
      margin-bottom: 1rem;
      background-color: white;
    }
    select:focus {
      outline-color: green;
    }
    .adjust {
      padding-top: 0.26rem;
      padding-left: 0.26rem;
    }
    .submit:hover {
      color: white;
      font-size: 0.9rem;
      background-color: green;
    }
  }
}
