<%- include('partials/header') %>
    <main>
        <section class="hero-index">
            <div class="container hero-content-wrapper">
                <article class="hero-content">
                    <h1>Your motivational dose, every Morning</h1>
                    <a href="/podcasts">
                        <button>Show Podcast</button>
                    </a>
                </article>
            </div>
        </section>
    </main>